<<<<<<< HEAD

<% provide(:title,'Help')%>

    <h1>Help</h1>
    <p>
    	Get help on the Ruby on Rails Tutorial at the
    	<a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
    	To get help on this sample app, see the
    	<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </P>
  
=======
<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Tutorial at the
	<a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
    To get help on this sample app, see the
    <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
>>>>>>> e8e8a602c96ae6495e6aac50b281bd3fc8c7887d
