<<<<<<< HEAD
<% provide(:title, 'Home') %>
<h1>Sample App</h1>
  <p>
     This is the home page for the
     <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
     sample application.
   </p>
 
=======
<h1>Sample App</h1>
<p>
	This is the home page for the
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</p>
>>>>>>> e8e8a602c96ae6495e6aac50b281bd3fc8c7887d
